@{
    ViewBag.Title = "Index";
}
<div id="wrapper">
    <nav>
        <div class="logo">
            LOGO
        </div>
        <div class="menu">
            <!--<ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">How to Use</a></li>
                <li><a href="#">Examples</a></li>
            </ul>-->
        </div>
        <div class="login-wrapper">
            <a href="#">Register</a>
            <a href="#">Login</a>
        </div>
    </nav>

    <div class="banner">

    </div>

    <div class="developer">
        <div class="developer-wrapper">

        </div>
    </div>

    <footer>
        <div class="footer-wrapper">

        </div>
    </footer>
</div>