@{
    ViewBag.Title = "Index";
}
<div id="wrapper">
    <header>
        <div class="header-wrapper">
            <div class="logo">
                LOGO
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">How to Use</a></li>
                    <li><a href="#">Examples</a></li>
                </ul>
            </nav>
            <div class="login-wrapper">
                <a class="login" href="#">Login</a>
            </div>
        </div>
    </header>

    <div class="banner">

    </div>

    <div class="developer">
        <div class="developer-wrapper">

        </div>
    </div>

    <footer>
        <div class="footer-wrapper">

        </div>
    </footer>
</div>